.window {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: calc(100vw - 77px);
  height: 99vh;
  background-color: #FAFAFA;
  padding-top: 25px;
  padding-left: 25px;
  overflow: -moz-scrollbars-none;
  overflow-x: auto;
}

.window::-webkit-scrollbar {
  height: 0;
  width: 0;
}