.event_detail_overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
}

.event_detail_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.25);
}

.event_detail_form h4 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.event_detail_close {
  position: absolute;
  top: 17px;
  right: 19px;
  cursor: pointer;
}

.event_detail_close svg {
  vertical-align: top;
}

.event_detail_input_wrapper {
  padding: 7.5px 20px;
}

.event_detail_input_wrapper label {
  display: inline-block;
  vertical-align: top;
  min-width: 120px;
  font-size: 16px;
  line-height: 36px;
}

/*.category div:first-child,*/
.event_detail_input_wrapper input,
.event_detail_input_wrapper textarea,
.event_detail_input_wrapper select {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  width: calc(100% - 120px);
  font-size: 16px;
  outline: none;
  border: none;
  padding: 7.5px 10px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  resize: none;
}

.event_detail_input_wrapper input.error {
  border: 1.5px solid red;
}

.event_detail_button,
.event_detail_button_url {
  position: relative;
  outline: none;
  right: calc(-100% + 20px);
  transform: translateX(-100%);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.25);
  background-color: rgba(0,0,0,0);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  margin-bottom: 15px;
}
.event_detail_button:active,
.event_detail_button_url:active {
  background-color: rgba(0,0,0,0.1);
}

.event_detail_button_url {
  right: unset;
  transform: none;
  float: right;
}

.error {
  border-color: red !important;
}

.event_category * {
  color: #000 !important;
  border: none !important;
  outline: none;
}